/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  background-color: #FFF; }

header {
  font-weight: bold;
  color: #76cdd3;
  padding: 1% 0 1% 0;
  text-align: center; }
  header a {
    text-decoration: none; }

ul li {
  list-style-type: none; }

.menu-link {
  display: none;
  font-family: Myriad Pro; }

nav {
  text-align: center;
  border-top: 1px solid #E9EBEB;
  border-bottom: 1px solid #E9EBEB; }
  nav li {
    display: inline-block;
    margin: 1em 0.5em; }
    nav li a {
      padding: 1em 2em;
      text-transform: uppercase;
      border-sizing: border-box;
      color: #2e3133;
      font-family: 'Oswald', sans-serif;
      text-decoration: none; }

@media screen and (max-width: 600px) {
  a.menu-link {
    float: right;
    display: block;
    margin: 1% 5%;
    background: #2e3133;
    padding: 20px 32px;
    position: relative;
    padding-left: 1.25em; }

  .menu-link:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.45em;
    width: 2.3em;
    margin: 0 12%;
    height: 0.35em;
    background: #E9EBEB;
    box-shadow: 0 0.65em 0 0 #E9EBEB, 0 1.3em 0 0 #E9EBEB; }

  nav li:hover {
    background: rgba(255, 255, 255, 0.6); }

  nav.active {
    max-height: 15em;
    transition: 1s; }

  nav {
    transition: 1.5s;
    overflow: hidden;
    max-height: 0;
    clear: both;
    position: relative;
    width: 100%;
    background-color: #E9EBEB; }
    nav li {
      display: block;
      padding: 1em;
      margin: 0 0; } }
/* RECIPE PAGE */
.site {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  line-height: 1.5; }
  .site:after {
    content: "";
    display: table;
    clear: both; }
  .site .side-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    background-color: #FFF; }
    .site .side-content:last-child {
      margin-right: 0; }
    @media screen and (max-width: 660px) {
      .site .side-content {
        margin-top: 2%;
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 19.43277%; }
        .site .side-content:last-child {
          margin-right: 0; } }
  .site .recipe-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    background: white; }
    .site .recipe-content:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      .site .recipe-content {
        float: left;
        display: block;
        margin-right: 38.19821%;
        width: 100%; }
        .site .recipe-content:last-child {
          margin-right: 0; } }

/*****************************************************************************/
/*
/* Search recipe page
/*
/*****************************************************************************/
.azRecipes img {
  height: 80px;
  width: 80px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  margin: 2% 0% 0% 5%; }

.azRecipes h2 {
  font-size: 12px;
  display: inline-block;
  margin-right: 10%;
  vertical-align: top; }

.search-page h2 {
  color: #A2F3A8;
  margin: 1% 0 1% 0;
  font-family: "Solomon", Arial, Helvetica, sans-serif; }

.search-recipes {
  text-align: center;
  margin: 0 2% 0 2%; }

/*Main page search input*/
.searchLocationForm input[type=text] {
  background: white url(../images/locationSearchIcon.png) no-repeat 0px center;
  padding: 20px 10px 9px 32px;
  margin-top: 2%;
  width: 30%;
  font-size: 13px; }

.content .searchLocationForm {
  padding-top: 5%; }
  .content .searchLocationForm h2 {
    text-transform: uppercase;
    color: #FFF; }

/* RECIPE SEARCH OPTION*/
input {
  outline: none; }

input[type=text] {
  background: white url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  margin-top: 2%;
  width: 30%;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }

input[type=text]:focus {
  width: 40%;
  background-color: #fff;
  border-color: #76cdd3;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5); }

input[type=submit] {
  background: white url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 100px;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }

.searchLocationBtn,
.locationBtn {
  padding: 0.9%;
  width: 7%;
  color: white;
  border: 1px solid #76cdd3;
  border-radius: 0.5em;
  display: inline-block;
  background: #76cdd3;
  vertical-align: bottom;
  font-family: "Solomon", Arial, Helvetica, sans-serif;
  font-size: 15px; }
  .searchLocationBtn input[type=submit],
  .locationBtn input[type=submit] {
    outline: none; }

.locationBtn {
  width: 14%; }

/* MAP PAGE */
.site {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto; }
  .site:after {
    content: "";
    display: table;
    clear: both; }
  .site .resultsMapSection {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-right: 0; }
    .site .resultsMapSection:last-child {
      margin-right: 0; }
  .site .resultAddressSection {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%;
    margin: 5% 0% 0% 5%; }
    .site .resultAddressSection:last-child {
      margin-right: 0; }

.searchLocationForm {
  text-align: center;
  padding-top: 0%;
  color: #000000;
  font-family: "Solomon", Arial, Helvetica, sans-serif; }
  .searchLocationForm p {
    display: inline-block; }

.resultsMapSection {
  padding-top: 4%; }

/*TITLE*/
.title {
  display: inline-block;
  font-size: 45px;
  text-transform: uppercase;
  font-family: "Solomon", Arial, Helvetica, sans-serif; }
  .title a {
    color: #76cdd3; }

.logo {
  vertical-align: bottom; }

/*****************************************************************************/
/*
/* Bourbon
/*
/*****************************************************************************/
/* HOMEPAGE */
.welcome-info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .welcome-info:last-child {
    margin-right: 0; }
  .welcome-info p {
    color: #000000;
    font-family: "Solomon", Arial, Helvetica, sans-serif;
    padding-bottom: 2%; }
    .welcome-info p a {
      text-decoration: none;
      color: black; }
  .welcome-info h2 {
    text-align: center;
    font-family: "Solomon", Arial, Helvetica, sans-serif;
    color: #A2F3A8;
    margin: -2% 0% 2% 0%; }

.search-location .content {
  text-align: center;
  font-family: "Solomon", Arial, Helvetica, sans-serif;
  background-image: url("../images/fitness.jpg");
  background-repeat: no-repeat;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .search-location .content p {
    color: white;
    font-family: "Solomon", Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 1% 0; }

/*SUB CONTENT ON MAIN PAGE*/
.sub-content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .sub-content:after {
    content: "";
    display: table;
    clear: both; }
  .sub-content .idea1, .sub-content .idea2, .sub-content idea3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .sub-content .idea1:last-child, .sub-content .idea2:last-child, .sub-content idea3:last-child {
      margin-right: 0; }
    @media screen and (max-width: 660px) {
      .sub-content .idea1, .sub-content .idea2, .sub-content idea3 {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%; }
        .sub-content .idea1:last-child, .sub-content .idea2:last-child, .sub-content idea3:last-child {
          margin-right: 0; } }
  .sub-content h2 {
    text-align: center;
    font-family: "Solomon", Arial, Helvetica, sans-serif;
    color: #76cdd3; }
  .sub-content img {
    margin-left: auto;
    margin-right: auto;
    display: block; }

/*# sourceMappingURL=index.css.map */
