/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

header {
  font-weight: bold;
  color: #76cdd3;
  padding: 1% 0 1% 0;
  text-align: center; }
  header a {
    text-decoration: none; }

ul li {
  list-style-type: none; }

.menu-link {
  display: none;
  font-family: Myriad Pro; }

nav {
  text-align: center;
  margin-top: 2%;
  border-top: 1px solid #E9EBEB;
  border-bottom: 1px solid #E9EBEB; }
  nav li {
    display: inline-block;
    margin: 1em 0.5em; }
    nav li a {
      padding: 1em 2em;
      text-transform: uppercase;
      border-sizing: border-box;
      color: #2e3133;
      font-family: 'Oswald', sans-serif;
      text-decoration: none; }

@media screen and (max-width: 600px) {
  a.menu-link {
    float: right;
    display: block;
    margin: 1% 5%;
    background: #C7C7C7;
    border-radius: 0.2em;
    padding: 20px 32px;
    position: relative;
    padding-left: 1.25em; }

  .menu-link:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.45em;
    width: 2.3em;
    border-radius: 0.1em;
    margin: 0 14%;
    height: 0.35em;
    background: #E9EBEB;
    box-shadow: 0 0.65em 0 0 #E9EBEB, 0 1.3em 0 0 #E9EBEB; }

  nav li:hover {
    background: rgba(255, 255, 255, 0.6); }

  nav.active {
    max-height: 22em;
    transition: 1s; }

  nav {
    transition: 1.5s;
    overflow: hidden;
    max-height: 0;
    clear: both;
    position: relative;
    width: 100%;
    background-color: #E9EBEB;
    border: none; }
    nav li {
      display: block;
      padding: 1em;
      margin: 0 0; } }
/* RECIPE PAGE */
.recipe-header {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #A2F3A8; }

.recipe-page p {
  margin-bottom: 2%; }

.site {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  line-height: 1.5; }
  .site:after {
    content: "";
    display: table;
    clear: both; }
  .site h1,
  .site h2,
  .site p {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal; }

/*****************************************************************************/
/*
/* Search recipe page
/*
/*****************************************************************************/
.search-page h2 {
  margin: 1% 0 1% 0;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

.search-recipes {
  text-align: center;
  margin: 0 2% 2% 2%; }

@media screen and (max-width: 500px) {
  .search-recipe-page p {
    display: none; } }

.list-of-recipes {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .list-of-recipes:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 850px) {
    .list-of-recipes {
      padding: 2%; } }
  @media screen and (max-width: 650px) {
    .list-of-recipes {
      margin-left: 10%;
      margin-right: 10%; } }
  @media screen and (max-width: 500px) {
    .list-of-recipes {
      margin-left: 0%;
      margin-right: 0%; } }
  .list-of-recipes .recipe {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-right: 1.5%;
    margin-top: 2%;
    margin-bottom: 4%;
    -webkit-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); }
    .list-of-recipes .recipe:last-child {
      margin-right: 0; }
    @media screen and (max-width: 850px) {
      .list-of-recipes .recipe {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 46.28851%; }
        .list-of-recipes .recipe:last-child {
          margin-right: 0; }
        .list-of-recipes .recipe:nth-child(2n) {
          margin-right: 0; }
        .list-of-recipes .recipe:nth-child(2n+1) {
          clear: left; } }
    @media screen and (max-width: 650px) {
      .list-of-recipes .recipe {
        float: left;
        display: block;
        margin-right: 16.03631%;
        width: 100%; }
        .list-of-recipes .recipe:last-child {
          margin-right: 0; } }
    .list-of-recipes .recipe .name {
      width: 100%;
      height: 50px;
      background: #76cdd3;
      opacity: 0.85;
      filter: alpha(opacity=85);
      /* IE8 and Lower */
      overflow: hidden;
      position: absolute;
      bottom: 0;
      text-align: center;
      vertical-align: middle;
      line-height: 50px;
      font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }
    .list-of-recipes .recipe p {
      padding: 3%; }
    .list-of-recipes .recipe .likes {
      width: 45px;
      height: 35px;
      background: #ed7aad;
      opacity: 0.85;
      color: white;
      text-align: center;
      line-height: 35px;
      position: absolute;
      top: 20px;
      -webkit-border-radius: 0 5px 5px 0px;
      border-radius: 0 5px 5px 0px;
      -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); }
  .list-of-recipes a {
    text-decoration: none;
    color: black; }

.courses {
  height: 380px; }
  @media screen and (max-width: 500px) {
    .courses {
      height: 250px; } }

label {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

.recipeCheckboxes {
  display: inline-block; }
  @media screen and (max-width: 650px) {
    .recipeCheckboxes {
      display: block; } }

.image {
  position: relative;
  height: 250px; }

.image img {
  width: 100%;
  height: 250px; }

.icons {
  width: 100%;
  font-size: 0.7em;
  color: #777;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px; }

.icons li {
  display: inline-block;
  padding: 0 7px; }

.image-overlay {
  position: relative;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #efefef;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  opacity: 1;
  transition: all 0.7s ease; }

.course:hover .image-overlay {
  opacity: 0.5; }

/* RECIPE PAGE */
.recipe-page {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  margin-top: 2%;
  background: #F3FCFF;
  padding: 2%;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }
  .recipe-page:after {
    content: "";
    display: table;
    clear: both; }
  .recipe-page:last-child {
    margin-right: 0; }
  .recipe-page .likes {
    width: 45px;
    height: 35px;
    background: #ed7aad;
    opacity: 0.85;
    color: white;
    text-align: center;
    line-height: 35px;
    position: absolute;
    top: 20px;
    -webkit-border-radius: 0 5px 5px 0px;
    border-radius: 0 5px 5px 0px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); }
  .recipe-page .image {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    position: relative; }
    .recipe-page .image:last-child {
      margin-right: 0; }
    @media screen and (max-width: 850px) {
      .recipe-page .image {
        width: 42%; } }
    @media screen and (max-width: 650px) {
      .recipe-page .image {
        float: left;
        display: block;
        margin-right: 16.03631%;
        width: 100%;
        width: 70%;
        margin: 0 auto; }
        .recipe-page .image:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 500px) {
      .recipe-page .image {
        float: left;
        display: block;
        margin-right: 38.19821%;
        width: 100%; }
        .recipe-page .image:last-child {
          margin-right: 0; } }
  .recipe-page .recipe-image {
    background: white;
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    padding: 5px; }
  .recipe-page .details {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .recipe-page .details:last-child {
      margin-right: 0; }
    @media screen and (max-width: 850px) {
      .recipe-page .details {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 46.28851%; }
        .recipe-page .details:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 650px) {
      .recipe-page .details {
        float: left;
        display: block;
        margin-right: 16.03631%;
        width: 100%; }
        .recipe-page .details:last-child {
          margin-right: 0; } }
    .recipe-page .details h3 {
      font-size: 30px; }
    .recipe-page .details .icons {
      font-size: 20px;
      margin-bottom: 2%;
      padding: 12px 0 15px 0;
      text-align: justify; }
      .recipe-page .details .icons .fa {
        color: #ed7aad; }
      .recipe-page .details .icons li {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        font-size: 19px; }
        .recipe-page .details .icons li:last-child {
          margin-right: 0; }
        @media screen and (max-width: 850px) {
          .recipe-page .details .icons li {
            font-size: 15px; } }
        @media screen and (max-width: 500px) {
          .recipe-page .details .icons li {
            font-size: 12px; } }
  .recipe-page .description {
    margin-top: 25px;
    font-style: italic; }
    @media screen and (max-width: 500px) {
      .recipe-page .description {
        padding: 5px; } }
  .recipe-page .share-buttons {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    .recipe-page .share-buttons:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      .recipe-page .share-buttons {
        float: left;
        display: block;
        margin-right: 38.19821%;
        width: 100%; }
        .recipe-page .share-buttons:last-child {
          margin-right: 0; } }
    .recipe-page .share-buttons a.fb-share-button,
    .recipe-page .share-buttons a.pinterest-share-button,
    .recipe-page .share-buttons a.tweet-share-button {
      display: -webkit-inline-box;
      vertical-align: middle; }
    .recipe-page .share-buttons .fb-share-button,
    .recipe-page .share-buttons .pinterest-share-button,
    .recipe-page .share-buttons .tweet-share-button {
      color: #76cdd3;
      font-size: 32px; }
    .recipe-page .share-buttons h2 {
      display: -webkit-inline-box;
      vertical-align: sub; }
  .recipe-page .nutrition-servings {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    display: -webkit-inline-box;
    margin-top: 15px; }
    .recipe-page .nutrition-servings:last-child {
      margin-right: 0; }
    @media screen and (max-width: 850px) {
      .recipe-page .nutrition-servings {
        display: none; } }
    .recipe-page .nutrition-servings dl {
      text-align: center;
      width: 10%;
      display: inline-block;
      width: 70px;
      margin-right: 2px; }
    .recipe-page .nutrition-servings dt {
      background: #A2F3A8;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px; }
    .recipe-page .nutrition-servings dd {
      background: #FFF; }
  .recipe-page .method {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-top: 2%;
    background: white; }
    .recipe-page .method:last-child {
      margin-right: 0; }
    .recipe-page .method h2 {
      color: grey;
      margin-top: -3%; }
    .recipe-page .method .ingrediants {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      background-color: #FFF;
      padding: 3%;
      padding: 2% 3%;
      border-right: 2px solid #ECECF0; }
      .recipe-page .method .ingrediants:last-child {
        margin-right: 0; }
      @media screen and (max-width: 850px) {
        .recipe-page .method .ingrediants {
          float: left;
          display: block;
          margin-right: 7.42297%;
          width: 100%; }
          .recipe-page .method .ingrediants:last-child {
            margin-right: 0; }
          .recipe-page .method .ingrediants li {
            margin-left: 17px; } }
      .recipe-page .method .ingrediants li {
        list-style-type: disc;
        text-align: left; }
    .recipe-page .method .instructions {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%;
      margin-left: 2%;
      background-color: #FFF;
      padding: 3%; }
      .recipe-page .method .instructions:last-child {
        margin-right: 0; }
      @media screen and (max-width: 850px) {
        .recipe-page .method .instructions {
          float: left;
          display: block;
          margin-right: 7.42297%;
          width: 100%; }
          .recipe-page .method .instructions:last-child {
            margin-right: 0; }
          .recipe-page .method .instructions li {
            margin-left: 17px; } }

/*Main page search input*/
.searchLocationForm input[type=text] {
  background: white url(../images/icons/searchicon.png) no-repeat 0px center;
  padding: 11px 10px 9px 32px;
  margin-top: 2%;
  width: 30%;
  font-size: 13px; }
  @media screen and (max-width: 850px) {
    .searchLocationForm input[type=text] {
      padding: 4px 10px 9px 32px; } }
  @media screen and (max-width: 500px) {
    .searchLocationForm input[type=text] {
      width: 60%; } }
@media screen and (max-width: 500px) {
  .searchLocationForm h2 {
    font-size: 32px; } }

.content .searchLocationForm {
  padding-top: 5%; }
  .content .searchLocationForm h2 {
    text-transform: uppercase;
    color: #FFF; }

/* RECIPE SEARCH OPTION*/
input {
  outline: none; }

input[type=text],
input[type=email],
input[type=password] {
  background: white url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  margin-top: 2%;
  width: 30%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }

input[type=email],
input[type=password] {
  background: none;
  width: 35%;
  padding: 5px 0px 6px 6px;
  margin-top: 1%; }

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  width: 40%;
  background-color: #fff;
  border-color: #76cdd3;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5); }

input[type=email]:focus,
input[type=password]:focus {
  width: 40%; }

.login-form button[type=submit] {
  background: #FFF;
  border: solid 1px #ccc;
  padding: 9px 0;
  width: 100px;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s; }

.searchLocationBtn,
.locationBtn,
input[type=submit] {
  padding: 0.9%;
  width: 7%;
  color: white;
  border: 1px solid #76cdd3;
  border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  display: inline-block;
  background: #76cdd3;
  vertical-align: bottom;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 15px; }
  .searchLocationBtn input[type=submit],
  .locationBtn input[type=submit],
  input[type=submit] input[type=submit] {
    outline: none; }

input[type=submit] {
  padding: 0.7%; }
  @media screen and (max-width: 850px) {
    input[type=submit] {
      width: 19%; } }
  @media screen and (max-width: 500px) {
    input[type=submit] {
      padding: 1.5%;
      width: 26%; } }

.locationBtn {
  width: 15%; }
  @media screen and (max-width: 850px) {
    .locationBtn {
      width: 19%; } }
  @media screen and (max-width: 650px) {
    .locationBtn {
      width: 23%; } }
  @media screen and (max-width: 500px) {
    .locationBtn {
      width: 37%;
      padding: 2.4%; } }

@media screen and (max-width: 500px) {
  .searchLocationBtn {
    width: 18%;
    padding: 1.2%; } }

/* Log in Form */
.login-form {
  float: right;
  margin-right: -8%;
  margin-bottom: 2%; }
  .login-form li {
    display: inline; }

.welcome-message h2, .welcome-message a {
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 13px;
  color: #76cdd3; }

/* MAP PAGE */
.site {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto; }
  .site:after {
    content: "";
    display: table;
    clear: both; }
  .site .resultsMapSection {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-right: 0; }
    .site .resultsMapSection:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      .site .resultsMapSection {
        float: left;
        display: block;
        margin-right: 38.19821%;
        width: 514.59462%;
        display: none; }
        .site .resultsMapSection:last-child {
          margin-right: 0; } }
  .site .resultAddressSection {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 17px; }
    .site .resultAddressSection:last-child {
      margin-right: 0; }
    .site .resultAddressSection h3 {
      display: inline-block;
      color: #76cdd3; }
    .site .resultAddressSection li {
      padding: 2%;
      display: inline-block;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      height: 300px;
      margin-top: 2%;
      -webkit-border-radius: 0 0 7px 7px;
      border-radius: 0 0 7px 7px;
      -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
      box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); }
      .site .resultAddressSection li:last-child {
        margin-right: 0; }
      .site .resultAddressSection li:nth-child(3n) {
        margin-right: 0; }
      .site .resultAddressSection li:nth-child(3n+1) {
        clear: left; }
      @media screen and (max-width: 850px) {
        .site .resultAddressSection li {
          float: left;
          display: block;
          margin-right: 7.42297%;
          width: 100%;
          height: 188px; }
          .site .resultAddressSection li:last-child {
            margin-right: 0; } }
      @media screen and (max-width: 500px) {
        .site .resultAddressSection li {
          height: 300px; } }
    .site .resultAddressSection img {
      width: 32px;
      vertical-align: bottom; }
    .site .resultAddressSection p {
      display: inline-block;
      vertical-align: bottom;
      color: #A2F3A8; }
    .site .resultAddressSection a {
      color: #ed7aad; }
    .site .resultAddressSection .telephoneNo {
      color: grey; }

@media screen and (max-width: 500px) {
  .mapSearch {
    background-image: url("../images/fitness-mob.jpg"); } }

.searchLocationForm {
  text-align: center;
  padding-top: 0%;
  color: #000000;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }
  .searchLocationForm p {
    display: inline-block; }
    @media screen and (max-width: 650px) {
      .searchLocationForm p {
        display: block; } }
    @media screen and (max-width: 850px) {
      .searchLocationForm p {
        margin: 5px 0; } }
  @media screen and (max-width: 500px) {
    .searchLocationForm label {
      display: block; } }

.resultsMapSection {
  padding-top: 4%; }

body.search-page.js {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

.login-form,
.register-form {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  border: 1px solid #e4e4e4;
  padding: 2%;
  color: black; }
  .login-form:last-child,
  .register-form:last-child {
    margin-right: 0; }

.login-form input[type=text], .login-form input[type=email], .login-form input[type=password],
.register-form input[type=text],
.register-form input[type=email],
.register-form input[type=password] {
  background: none;
  width: 35%;
  padding: 5px 0px 6px 6px;
  margin-top: 1%; }
  @media screen and (max-width: 500px) {
    .login-form input[type=text], .login-form input[type=email], .login-form input[type=password],
    .register-form input[type=text],
    .register-form input[type=email],
    .register-form input[type=password] {
      display: inline-block;
      width: 100%;
      margin: 5px 0; } }

.login-form button[type=submit],
.register-form button[type=submit] {
  background: white;
  padding: 7px 0px 8px 1px;
  width: 77px;
  margin-top: 1%;
  border-radius: 1em;
  border: solid 1px #ccc; }

header .hashtag-name a {
  text-decoration: none;
  color: #A2F3A8; }

.instafeed img {
  padding: 15px;
  width: 100%; }

.insta-images {
  display: inline-block;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  margin-right: 1.5%;
  height: 470px;
  margin-top: 2%;
  -webkit-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); }
  .insta-images:last-child {
    margin-right: 0; }
  .insta-images img {
    position: relative; }
  @media screen and (max-width: 850px) {
    .insta-images {
      float: left;
      display: block;
      margin-right: 7.42297%;
      width: 46.28851%;
      clear: none;
      margin: 2% 1.5%; }
      .insta-images:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 650px) {
    .insta-images {
      float: left;
      display: block;
      margin-right: 16.03631%;
      width: 41.98184%;
      margin: 2% 4%; }
      .insta-images:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 500px) {
    .insta-images {
      float: left;
      display: block;
      margin-right: 38.19821%;
      width: 100%;
      width: 90%;
      margin-left: 5%; }
      .insta-images:last-child {
        margin-right: 0; } }
  .insta-images .fa-heart {
    color: #ed7aad;
    padding-right: 4px; }
  .insta-images p {
    padding: 1% 1% 0 5%; }

footer {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
  margin-top: 10%; }
  footer:after {
    content: "";
    display: table;
    clear: both; }
  footer .footer-info {
    text-align: center;
    margin-top: 2%;
    font-size: 12px;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    footer .footer-info:last-child {
      margin-right: 0; }
    @media screen and (max-width: 500px) {
      footer .footer-info {
        float: left;
        display: block;
        margin-right: 38.19821%;
        width: 100%; }
        footer .footer-info:last-child {
          margin-right: 0; } }

.footer-info a {
  color: #2e3133;
  text-decoration: none; }

.footer-info p {
  color: #2e3133;
  text-decoration: none; }

.footer-info a:hover {
  text-decoration: underline;
  color: #ed7aad; }

.social-icons img {
  max-width: 100%;
  display: block;
  -webkit-transition: 0.30s;
  -webkit-filter: brightness(1);
  -moz-filter: brightness(1);
  -o-filter: brightness(1);
  -ms-filter: brightness(1);
  filter: brightness(1); }

.social-icons img:hover {
  -webkit-filter: brightness(0.6);
  -moz-filter: brightness(0.6);
  -o-filter: brightness(0.6);
  -ms-filter: brightness(0.6);
  filter: brightness(0.6); }

.social-icons {
  margin-top: -2%;
  text-align: center; }
  .social-icons a {
    display: block; }

.social-icons li {
  display: inline-block;
  width: 35px;
  margin-left: 2%;
  height: 64px; }

.touch .social-icons img {
  -webkit-filter: grayscale(0); }

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  background-color: #FFF; }

.site {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .site:after {
    content: "";
    display: table;
    clear: both; }

.website-name {
  color: #76cdd3; }

/*TITLE*/
.title {
  display: inline-block;
  font-size: 36px;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }
  .title a {
    color: #76cdd3; }
    @media screen and (max-width: 500px) {
      .title a {
        font-size: 36px; } }

.logo {
  vertical-align: middle;
  width: 64px; }

/*****************************************************************************/
/*
/* Bourbon
/*
/*****************************************************************************/
/* HOMEPAGE */
.welcome-info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .welcome-info:last-child {
    margin-right: 0; }
  .welcome-info p {
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    padding: 0% 3% 0% 3%; }
    @media screen and (max-width: 500px) {
      .welcome-info p {
        display: none; } }
    .welcome-info p a {
      text-decoration: none;
      color: #ed7aad; }
  .welcome-info h2 {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #A2F3A8;
    margin: -1% 0% 2% 0%; }
    @media screen and (max-width: 500px) {
      .welcome-info h2 {
        display: none; } }

.search-location .content {
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  background-image: url("../images/fitness.jpg");
  background-repeat: no-repeat;
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media screen and (max-width: 850px) {
    .search-location .content {
      background-image: url("../images/fitness-mob.jpg"); } }
  .search-location .content p {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 15px;
    padding: 1% 0; }

/*SUB CONTENT ON MAIN PAGE*/
.sub-content {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  .sub-content:after {
    content: "";
    display: table;
    clear: both; }
  .sub-content .idea1, .sub-content .idea2, .sub-content .idea3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    .sub-content .idea1:last-child, .sub-content .idea2:last-child, .sub-content .idea3:last-child {
      margin-right: 0; }
    .sub-content .idea1 a, .sub-content .idea2 a, .sub-content .idea3 a {
      color: #ed7aad;
      text-decoration: none; }
    @media screen and (max-width: 660px) {
      .sub-content .idea1, .sub-content .idea2, .sub-content .idea3 {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%; }
        .sub-content .idea1:last-child, .sub-content .idea2:last-child, .sub-content .idea3:last-child {
          margin-right: 0; }
        .sub-content .idea1 p, .sub-content .idea2 p, .sub-content .idea3 p {
          padding: 0 20px; } }
  .sub-content h2 {
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: #76cdd3; }
  .sub-content img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90px; }

/*# sourceMappingURL=index.css.map */
