/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
@import "bourbon/bourbon";
@import "neat/neat";


$black: #000000;
$white: #FFF;
$pastel-pink: #F76AB6;
$silver-grey: #f5f5f5;
$pea-green: #76BF41;
$font-color: #2e3133;

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

html, body { 
  height: 100%; 
}

body {
  background-color: $silver-grey;
}



@import "header";

/*****************************************************************************/
/*
/* Bourbon
/*
/*****************************************************************************/
.site {
  @include outer-container;
  $tablet: new-breakpoint(max-width 660px  4);
  $mobile: new-breakpoint(max-width 500px 1);

  .header { @include span-columns(12); 
    text-align: center;
    @include media($tablet) {
    @include span-columns(4);
     .welcome-message, .border-line{
        display: none;
      }
        .title{
        font-size: 60px;
      }
       .job-title {
        font-size: 30px;
      }
    }

    @include media($mobile) {
      @include span-columns(1);
      .page-title{
        font-size: 35px;
      }

    }
  }
  .content { 
  	@include span-columns(12); 
  	background: white;
	    @include media($mobile) {
	    	@include span-columns(1);
	    }
  }
}