/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
@import "bourbon/bourbon";
@import "neat/neat";


$black: #000000;
$white: #FFF;
$pastel-pink: #F76AB6;
$silver-grey: #f5f5f5;
$pea-green: #76BF41;
$font-color: #2e3133;

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

html, body { 
  height: 100%; 
}

body {
  background-color: $silver-grey;
}



@import "header";