/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
@import "bourbon/bourbon";
@import "neat/neat";



$black: #000000;
$white: #FFF;
$silver-grey: #E9EBEB;
$pastel-green: #A2F3A8;
$font-color: #2e3133;
$sky-blue: #76cdd3;
$pastel-pink: #ed7aad;
$font-family: "Solomon", Arial, Helvetica, sans-serif;


$tablet: new-breakpoint(max-width 850px  4);
$phablet: new-breakpoint(max-width 650px  2);
$mobile: new-breakpoint(max-width 500px 1);

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

html, body { 
  height: 100%; 
}

body {
  background-color: $white;
}

.site {
  @include outer-container;
}

@import "header";
@import "recipe";
@import "searchInput";
@import "map";
@import "registeruser";
@import "trends";
@import "footer";

/*TITLE*/

.title {
  display: inline-block;
  font-size: 45px;
  text-transform: uppercase;
  font-family: $font-family;
  a {
  color: $sky-blue;
  }
}

.logo {
  vertical-align: bottom;
}

/*****************************************************************************/
/*
/* Bourbon
/*
/*****************************************************************************/
/* HOMEPAGE */

.welcome-info {

  @include span-columns(12);
      p {
        color: $black;
        font-family: $font-family;
        padding-bottom: 2%;

      @include media($mobile) {
        display: none;
      }

        a {
          text-decoration: none;
          color: black;
        }
      } 

      h2 {
        text-align: center;
        font-family: $font-family;
        color: $pastel-green;
        margin: -2% 0% 2% 0%;
          
      @include media($mobile) {
        display: none;
      }

    }
}


 .search-location {
   .content { 
      text-align: center;
      font-family: $font-family;
      background-image: url("../images/fitness.jpg");
      background-repeat: no-repeat;
      height: 300px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

      @include media($tablet) {
      	background-image: url("../images/fitness-mob.jpg");
      }

      p{
        color: white;
        font-family: $font-family;
        font-size: 15px;
        padding: 1% 0;
      }

    }
}


/*SUB CONTENT ON MAIN PAGE*/

.sub-content {
  @include outer-container;
  $tablet: new-breakpoint(max-width 660px  4);
  $mobile: new-breakpoint(max-width 500px 1);

  .idea1, .idea2, idea3 {
    @include span-columns(4);

    @include media($tablet) {
      @include span-columns(4);
    }
  }

  h2 {
    text-align: center;
    font-family: $font-family;
    color: $sky-blue;

  }

  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90px;
  }
}



