/* MAP PAGE */
.site {
	@include outer-container;
	margin: 0 auto;
	.resultsMapSection {
		@include span-columns(12);
		@include omega();
	}
	.resultAddressSection {
		@include span-columns(12);

		h3 {
			font-family: $font-family;
			font-size: 17px;
			display: inline-block;
		}

		li {
			padding: 2%;
			display: inline-block;
			@include span-columns(4);
			@include omega(3n);
			height: 250px;
			margin-top: 2%;
			-webkit-border-radius:0 0 7px 7px;
			border-radius:0 0 7px 7px;
			-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
			-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
			box-shadow: 1px 1px 4px rgba(0,0,0,0.3);

			@include media($tablet) {
				@include span-columns(4);
  			}
		}
	
		img {
			width: 32px;
			vertical-align: bottom;
		}

		p {
			display: inline-block;
			vertical-align: bottom;
		}
	}

}


.searchLocationForm {
	text-align: center;
	padding-top: 0%;
	color: $black;
    font-family: $font-family;

	p{
		display: inline-block;
		@include media($tablet) {
        	display: block;
        	margin: 5px 0;
      }
	}
}

.resultsMapSection {
	padding-top: 4%;
}
