/* RECIPE PAGE */

.site {
  @include outer-container;

  margin: 0 auto;
  line-height: 1.5;
  $tablet: new-breakpoint(max-width 660px  4);
  $mobile: new-breakpoint(max-width 500px 1);
  
   .side-content  { 

   	@include span-columns(4); 
    background-color: $white;
    @include media($tablet) {
      margin-top: 2%;
    @include span-columns(1);
    }
  } 

  .recipe-content { 
    @include span-columns(8); 
    background: white;
      @include media($mobile) {
        @include span-columns(1);
      }
  }
}


/*****************************************************************************/
/*
/* Search recipe page
/*
/*****************************************************************************/

.azRecipes img {
	height: 80px;
	width: 80px;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
  	margin: 2% 0% 0% 5%;
}

.azRecipes h2 {
		font-size: 12px;
  		display: inline-block;
		margin-right: 10%;
		vertical-align: top;
 }

 .search-page h2 {
	color: $pastel-green;
	margin: 1% 0 1% 0;
	font-family: $font-family;
}

.search-recipes {
	text-align: center;
	margin: 0 2% 0 2%;
}
