/* RECIPE PAGE */

.recipe-header {
	    text-align: center;
        font-family: $font-family;
        color: $pastel-green;
}

.recipe-page {
	p {
		margin-bottom: 2%;
	}
}

.site {
  @include outer-container;
  margin: 0 auto;
  line-height: 1.5;
  $tablet: new-breakpoint(max-width 660px  4);
  $mobile: new-breakpoint(max-width 500px 1);
  
    h1,
   	h2,
   	p {
     	font-family: $font-family;
    }
 }



/*****************************************************************************/
/*
/* Search recipe page
/*
/*****************************************************************************/


.search-page h2 {
	color: $pastel-green;
	margin: 1% 0 1% 0;
	font-family: $font-family;
}

.search-recipes {
	text-align: center;
	margin: 0 2% 2% 2%;
}

.list-of-recipes {
	@include outer-container;

    .recipe {
        @include span-columns(4); 
        @include omega(3n);
        margin-top: 2%;
        margin-bottom: 4%;
        -webkit-border-radius:0 0 7px 7px;
        border-radius:0 0 7px 7px;
        -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
        -moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
        box-shadow: 1px 1px 4px rgba(0,0,0,0.3);

        .name {
            width:100%;
            height:50px;
            background: $sky-blue;
            opacity: 0.85;
            filter: alpha(opacity=85); /* IE8 and Lower */
            overflow:hidden;
            position:absolute;
            bottom:0;
            text-align: center;
            vertical-align: middle;
            line-height: 50px; 
            font-family: $font-family;
	    }

	   .likes {
            width:45px;
            height:35px;
            background: $pastel-pink;
            opacity: 0.85;
            color:white;
            text-align: center;
            line-height: 35px; 
            position:absolute;
            top:20px;
            -webkit-border-radius:0 5px 5px 0px;
            border-radius:0 5px 5px 0px;
            -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
            -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
        }
    }

	 a {
			text-decoration: none;
			color: black;
	 }

	 .course {

		.name {
			background: $pastel-green;
		}
	}

}


.image {
  position:relative;
  height: 250px;
}

.image img{
  width:100%;
  height: 250px;
}

.fa-heart-o:hover {
  animation-name: pulse; 
  animation-duration: 0.5s; 
  animation-iteration-count: infinite; 
  -webkit-animation-name: pulse; 
  -webkit-animation-duration: 0.5s; 
  -webkit-animation-iteration-count: infinite; 
}


.icons {
  width:100%;
  font-size:0.7em;
  color:#777;
  padding:15px;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
}
.icons li {
  display:inline-block;
  padding:0 7px;
}

/* Pulse Animation for Firefox, Opera and Internet Explorer 10 */
@keyframes pulse {
  from {
    transform: scale(1.0);
    opacity: 1.0;
  }
  50% {
    transform: scale(1.2);
    opacity: 1.0;
  }
  to { 
    transform: scale(1.0);
    opacity: 1.0;
  }
}
/* Pulse Animation for Google Chrome and Safari */
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1.0);
    opacity: 1.0;
  }
  50% {
    -webkit-transform: scale(1.2);
    opacity: 1.0;
  }
  to { 
    -webkit-transform: scale(1.0);
    opacity: 1.0;
  }
}



.image-overlay{
  position: relative;
  background: rgba(255,255,255, 0.85);
  border: 1px solid #efefef;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  opacity: 1;
  transition: all 0.7s ease;
}


.course:hover{
  .image-overlay{
    opacity: 0.5;
  }
}

/* RECIPE PAGE */

.recipe-page {
    @include outer-container;
    @include span-columns(12); 
    margin-top: 2%;
    background: #F3FCFF;
    padding: 2%;
    font-family: $font-family;

    .likes {
        width:45px;
        height:35px;
        background: $pastel-pink;
        opacity: 0.85;
        color:white;
        text-align: center;
        line-height: 35px; 
        position:absolute;
        top: 115%;
        -webkit-border-radius:0 5px 5px 0px;
        border-radius:0 5px 5px 0px;
        -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
        -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    }
  
      .recipe-image {
        @include span-columns(4); 
        background: white;
        -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3); 
        -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
        padding: 0.5%;
      }

      .details {
        @include span-columns(7);

        h3 {
            font-size: 30px;
        }

        .icons {
            font-size: 20px;
            margin-bottom: 2%;
            padding: 12px 0 15px 0;
            text-align: justify;

            .fa {
                color: #ed7aad;
            }

            li {
               @include span-columns(4); 
            }
        }
      }

      .share-buttons {
        @include span-columns(7);
      }

      .method {
            @include span-columns(12);
            margin-top: 2%;
            background: white;

            h2 {
                color: grey;
                margin-top: -3%;
            }

          .ingrediants {
            @include span-columns(3);
            background-color: $white;
            padding: 3%;
            padding: 2% 3%;
            border-right: 2px solid #ECECF0;

            li {
                list-style-type: disc;
            }
          }

          .instructions {
            @include span-columns(8);
            margin-left: 2%;
            background-color: $white;
            padding: 3%;
          }
    }
}