
/*Main page search input*/
.searchLocationForm{
	input[type=text] {
		background: white url(../images/icons/searchicon.png) no-repeat 0px center;
		padding: 11px 10px 9px 32px;
		margin-top: 2%;
		width: 30%;
		font-size: 13px;

	 @include media($mobile) {
        width: 60%;
      }
	}

	h2 {
		@include media($mobile) {
        font-size: 32px;
      }
	}
}

.content .searchLocationForm {
	padding-top: 5%;

	h2 {
		text-transform: uppercase;
		color: $white;
	}
}


/* RECIPE SEARCH OPTION*/

input {
	outline: none;
}

input[type=text],
input[type=email],
input[type=password] {
	background: white url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	margin-top: 2%;
	width: 30%;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

input[type=email],
input[type=password] {
	background: none;
	width: 35%;
	padding: 5px 0px 6px 6px;
	margin-top: 1%;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
	width: 40%;
	background-color: #fff;
	border-color: $sky-blue;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input[type=email]:focus,
input[type=password]:focus {
	width: 40%;
}

input[type=submit],
.login-form button[type=submit] {
	background: white url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 100px;
	
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}



.recipe-search {
	label {
		font-family: $font-family;
	}
}


.searchLocationBtn,
.locationBtn {
	padding: 0.9%;
	width: 7%;
	color: white;
	border: 1px solid #76cdd3;
	border-radius: 0.2em;
	display: inline-block;
	background: $sky-blue;
	vertical-align: bottom;
	font-family: $font-family;
	font-size: 15px;

	input[type=submit] {
		outline: none;
	}
}

.locationBtn{
	width: 14%;

	@include media($mobile) {
		width: 37%;
		padding: 2.4%;
	}	
}

.searchLocationBtn {
	@include media($mobile) {
        width: 18%;
		padding: 2.4%;
	}	
}

/* Log in Form */

.login-form {
	float: right;
	margin-right: -8%;
	margin-bottom: 2%;

	li {
		display: inline;
	}
}

.welcome-message {

	h2, a {
		display: inline-block;
		font-family: $font-family;
		font-size: 13px;
		color: $sky-blue;
	}
}
