/*Main page search input*/

input {
	outline: none;
}

input[type=text] {
	background: white url(../images/locationSearchIcon.png) no-repeat 0px center;
	border: solid 1px #ccc;
	padding: 20px 10px 9px 32px;
	margin-top: 2%;
	width: 30%;
	font-size: 13px;
	
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

input[type=text]:focus {
	width: 40%;
	background-color: #fff;
	border-color: $sky-blue;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

input[type=submit] {
	background: white url(../images/locationSearchIcon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 100px;
	
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	border-radius: 1em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}


#location-form {
	padding-top: 5%;

	h2 {
		text-transform: uppercase;
		color: $white;
	}
}


.searchLocationBtn,
.locationBtn {
	padding: 1%;
	width: 7%;
	color: white;
	border: 1px solid #76cdd3;
	border-radius: 0.5em;
	display: inline-block;
	background: $sky-blue;
	vertical-align: bottom;
	font-family: $font-family;
	font-size: 15px;
}

.locationBtn{
	width: 10%;
}
